@font-face {
    font-family: omori-normal;
    src: url(fonts/omori_normal.ttf);
}

@font-face {
    font-family: omori-scary;
    src: url(fonts/omori_scary.ttf);
}

@font-face {
    font-family: noto-sans;
    src: url(fonts/NotoSans-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 20px;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid black;
    background-color: white;
    position: sticky;
    top: 0px;
}

.nav-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.nav-links {
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
    align-self: center;
}

.nav-links li {
    font-size: 28px;
    font-family: omori-normal, sans-serif;
    color: white;
}

.hero-section {
    display: flex;
    flex-flow: row nowrap;
    width: 800px;
    margin: auto;
}

.hero-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hero-main {
    font-family: noto-sans;
    font-size: 34px;
    margin: 10px;
}

.hero-details,
.hero-button {
    font-family: omori-normal;
    font-size: 24px;
    margin: 10px;
}

.hero-button {
    color: white;
    border: 2px solid white;
    outline: 1px solid black;
    background-color: black;
    display: flex;
    align-items: center;
}