html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: omori-normal;
    src: url(fonts/omori_normal.ttf);
}

@font-face {
    font-family: omori-scary;
    src: url(fonts/omori_scary.ttf);
}

@font-face {
    font-family: noto-sans;
    src: url(fonts/NotoSans-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    margin: 0;
}

ul li a {
    text-decoration: none;
    color: black;
}

.nav-bar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 20px;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid black;
    background-color: white;
    position: sticky;
    top: 0px;
}

.nav-logo {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.nav-links {
    display: flex;
    flex-flow: row nowrap;
    gap: 24px;
    align-self: center;
}

.nav-links li {
    font-size: 28px;
    font-family: omori-normal, sans-serif;
    color: white;
}

.logo-home:active {
    content: url(images/bright-black-lightbulb.png);
}

.nav-scroll {
    transition: 1s cubic-bezier(.35,.76,.43,.83);
}

.nav-scroll:hover {
    text-shadow: 2px 2px 3px red;
    margin: 5px;
}


.hero-section {
    display: flex;
    flex-flow: row nowrap;
    margin: auto;
}

.hero-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.hero-main {
    font-family: noto-sans;
    font-size: 34px;
    margin: 10px;
}

.hero-details,
.hero-button,
.image-description {
    font-family: omori-normal;
    font-size: 24px;
    margin: 20px;
}


.image-description {
    text-align: center;
}

.hero-button {
    color: white;
    border: 2px solid white;
    outline: 1px solid black;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 4px 10px;
    font-size: 20px;
    cursor: pointer;
}

.hero-media {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/*Feature-section stylings*/

.feature-section,
.feature {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.feature-section {
    padding: 100px 0px;
}

.feature-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.feature-headings {
    font-family: noto-sans;
    font-size: 34px;
    margin: 40px;
}

.feature-image {
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    padding: 0px 20px;
    background-color: black;
    border: 20px outset rgb(70, 69, 69);
    outline: 1px solid black;
    border-radius: 5%;
    box-shadow: 0px 10px 5px gray;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}

.feature-image:active {
    box-shadow: 0px 0px 0px ;
    margin-bottom: -10px;
}

.key-letters {
    font-family: omori-normal;
    font-size: 5rem;
    color: white;
}

.feature-image:active .key-letters{
    color: transparent;
}

#feature-needs:active {
    background-image: url(images/feature-whitespace/Feature-needs.gif);
    background-position: center;
}

#feature-mewo:active {
    background-image: url(images/feature-whitespace/Feature-mewo.png);
    background-position: center;
    background-size: cover;
}

#feature-neighbors:active {
    background-image: url(images/feature-whitespace/Feature-neighbor.png);
    background-position: center;
    background-size: cover;
}

#feature-something:active {
    background-image: url(images/feature-whitespace/Feature-something.gif);
    background-position: center;
    background-size: contain;
}

.feature-details {
    font-family: omori-normal;
    font-size: 2rem;
    width: 200px;
    text-align: center;
}
/*Image door*/
.whitespace-door {
    position: absolute;
    z-index: -1;
    width: auto;
    height:800px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

/*Quote Section fo the page*/ 
.quote-section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 100px 100px;
}

.quote-main {
    font-family: omori-normal;
    font-size: 48px;
    background-color: rgba(255, 255, 255, 0.298);
}

.quote-credit {
    font-family: omori-scary;
    font-size: 40px;
    font-weight: bold;
    align-self: flex-end;
}

/*Sign section*/

.sign-section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}

.sign-card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border: 4px solid white;
    border-radius: 10px;
    outline: 1px solid black;
    padding: 50px 80px;
    gap: 50px;
    margin: 50px;
}

.sign-text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.sign-head {
    display: inline;
    font-family: noto-sans;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
    text-decoration: underline;
}

.sign-details {
    display: inline;
    font-family: omori-normal;
    font-size: 24px;
    color: white;
    margin: 0;
}

.sign-button {
    width: 120px;
    height: 50px;
    padding: 4px 10px;
    box-sizing: border-box;
    background-color: black;
    border: 5px solid rgb(70, 69, 69);
    border-radius: 10%;
    font-family: omori-normal;
    font-size: 28px;
    color: white;
    transition: 1s;
    cursor: pointer;
}

.sign-button:hover {
 box-shadow: 0px 4px 4px 4px red;   
 border: 5px solid rgb(82, 59, 59);
 margin-bottom: -4px;
}

/*Footer*/ 

.footer {
    display: flex;
    flex-flow: column wrap ;
    background-color: black;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 10px;
}

.footer-details {
    font-family: omori-normal;
    font-size: 24px;
    color: white;
}

.credits-link{
    color: white;
    text-decoration: underline;
    transition: .5s cubic-bezier(.35,.76,.43,.83);
}

.credits-link:hover {
    background-color: white;
    color: black;
}